@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inconsolate";
  src: url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
}
html,
body {
  background-color: #f7fafc;
  font-family: "Inconsolate", monospace;
}
